<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blubnanacom.androidcontactappassisgnment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/conversation"
        android:label="@string/app_name"
        android:roundIcon="@drawable/conversation"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="blubnanacom.androidcontactappassisgnment.MainActivity" />
        </activity>
        <activity
            android:name=".ContactDetailActivity"
            android:label="@string/title_activity_contact_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="blubnanacom.androidcontactappassisgnment.MainActivity" />
        </activity>
        <activity
            android:name=".UpdateContactDetailsActivity"
            android:label="@string/title_activity_update_contact_details"
            android:parentActivityName=".ContactDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="blubnanacom.androidcontactappassisgnment.ContactDetailActivity" />
        </activity>
    </application>

</manifest>